{% extends 'layout.admin.html.twig' %}

{% block title %}
    {{ parent() }} - Modifier produit
{% endblock %}

{% block panel_head %}
    Modifier Produit
{% endblock %}

{% block aside %}
    {{ include('produits/admin/produit_admin_menu.html.twig') }}
{% endblock %}

{% block body %}

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}

    <div class=" col-md-6">Image actuelle</div>
    <div class=" col-md-6">Nouvelle Image</div>
    <div class=" col-md-6"><img class="banniere_img" src="{{ asset( produit.image) }}" alt="" /></div>
    <div class=" col-md-6"> {% include 'KCFinder_image_selector.html.twig' with {'elementId': 'panierfoyenbundle_produits_image'} %}</div>

    <p>
        <button type="submit" class="btn btn-success">
            <i class="fa fa-floppy-o"></i> Modifier
        </button>
    </p>
    {{ form_end(edit_form) }}

{% endblock %}