{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - produits
{% endblock %}

{% block panel_head %}
    Nos produits
{% endblock %}

{% block aside %}
    {{ include('produits/categories_filter.html.twig') }} 
{% endblock %}

{% block body %}

    {% for category in categories2 %}
        <div class="row category_entete">
            <div class="col-xs-1 list_img vertical_center">
                <img class="img-responsive" src="{{ asset( category.logo) }}" alt="{{ category.libelle}}" />
            </div>
            <div class="col-xs-11 list_title vertical_center">
                <h3>{{ category.libelle}}</h3>
            </div>
        </div>
{#        <hr>#}

        {% for produit in category.produits %}
            <div class="row product_list_item">
                <a href="{{ path('producteurs_show_slug_produits', { 'slug': produit.producteur.slug }) }}">
                    <div class="col-md-2 list_img2 vertical_center">
                       {% if produit.image == "" %}
                        <img class="img-responsive" src="{{ asset('images/generique.png') }}" alt="image" />
                    {% else %}
                        <img class="img-responsive" src="{{ asset( produit.image) }}" alt="image" />
                    {% endif %}
                    </div>
                    <div class="col-md-8 list_text">
                        <div class="row">
                            <h4>{{ produit.libelle }}</h4>
                        </div>
                        <div class="row">
                            <p>Produit par {{ produit.producteur.nom }}</p>
                        </div>
                        <div class="row label_list">
                           {# {{ produit.category.libelle}}#}
                           {% for variante in produit.les_conditionnements%}
                                <span class="label label-primary product_tag">{{ variante.libelle }} </span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-2 vertical_center">
{#                        <img class="navtab_img img-responsive" src="{{ asset( produit.category.logo) }}" alt="{{ produit.category.libelle}}" />#}
                    </div>
                </a>
            </div>
        {% endfor %}

    {% endfor %}

{% endblock %}

