<ul class="nav nav-pills" id="admin_menu">
    <li role="presentation" class="active"><a href="#">Administration</a></li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Paramètres <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li role="presentation"><a href="{{ path('admin_categories') }}">Catégories</a></li>
            <li role="presentation"><a href="{{ path('frequences') }}">Frequences</a></li>
            <li role="presentation"><a href="{{ path('lieus') }}">Lieux</a></li>
            <li role="presentation"><a href="{{ path('distributions') }}">Distribution</a></li>
        </ul>
    </li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Intervenants <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li role="presentation"><a href="{{ path('admin_coordinateurs') }}">Coordinateurs</a></li>
            <li role="presentation"><a href="{{ path('admin_producteurs') }}">Producteurs</a></li>
            <li role="presentation"><a href="{{ path('users') }}">Utilisateurs</a></li>
        </ul>
    </li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Produits <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li role="presentation"><a href="{{ path('produits') }}">Produits</a></li>
            <li role="presentation"><a href="{{ path('conditionnements') }}">Conditionnements</a></li>
            <li role="presentation"><a href="{{ path('disponibilites') }}">Disponibilites</a></li>
        </ul>
    </li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Publication <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li role="presentation"><a href="{{ path('tags') }}">Tags</a></li>
            <li role="presentation"><a href="{{ path('admin_articles') }}">Articles</a></li>
        </ul>
    </li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Gestion contrats <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li role="presentation"><a href="{{ path('payements') }}">Payements</a></li>
            <li role="presentation"><a href="{{ path('contrats') }}">Contrats</a></li>
        </ul>
    </li>
    <li role="presentation"><a href="{{ path('kcfinder_browse') }}">KCFinder_browse</a></li>
    <li role="presentation"><a href="{{ path('kcfinder_browse') ~ '?type=images' }}">KCFinder_browse_img</a></li>
</ul>