<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome! Test{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" /> 
        <!-- Triton Crud-->
        <link href="{{ asset('bundles/tritoncrud/css/font-awesome.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/tritoncrud/css/crud.css') }}" rel="stylesheet" />

        <!-- Triton Crud-->
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <div id="banniere">
        <span id ="banniere_gauche">
            <a href="{{ path('_welcome') }}"><img class="banniere_img" src="{{ asset('images/icone_actu.png') }}" alt="Actu" /></a>
            <a href="{{ path('_welcome') }}"><img class="banniere_img" src="{{ asset('images/icone_producteurs.png') }}" alt="Producteurs" /></a>
        </span>
        <img id ="logo" src="{{ asset('images/logo_white_bg.png') }}" alt="Contact" />
        <span id ="banniere_droite">
            <a href="{{ path('_welcome') }}"><img class="banniere_img" src="{{ asset('images/icone_panier.png') }}" alt="Panier" /></a>
            <a href="{{ path('_welcome') }}"><img class="banniere_img" src="{{ asset('images/icone_contact.png') }}" alt="Contact" /></a> 
        </span>
    </div>
    <div id="banniere_bande">
        <span>Bio et</span>
        <span>Local</span>
    </div>
    <div id="menu_haut">
        {{ include('main_navbar.html.twig') }}
    </div>
    <div id="bradcrumbs">
    </div>
    <!-- Form theme -->
    {% if form is defined %}
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {% endif %}
    {% if edit_form is defined %}
        {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
    {% endif %}
    <!-- Form theme END-->
    <div id="main">
        {% block menu_gauche %}
            {{ include('admin_menu.html.twig') }}
        {% endblock %}
        <div id="main_content">
            <!-- Triton Crud-->
            <div class="container">
            {% block menu %}{% endblock %}

            {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ type }}">
                        {{ flashMessage|trans({}, 'TritonCrudBundle') }}
                    </div>
                {% endfor %}
            {% endfor %}

        </div>
        <!-- Triton Crud-->

    {% block body %}{% endblock %}

</div>
</div>
<div id="footer">
    <span>Copyright 2016</span>
    <span id="espaceAdmin">Espace administrateur</span>
</div>
{% block javascripts %}
    <script src="{{ asset('js/jquery-3.1.0.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>

