<!DOCTYPE html>
<html>
    {{ include('layout.head.html.twig') }}
    <body>
        <div id="main" class="container">
            {{ include('layout.header.html.twig') }}
            {% block menu_haut %}
                {# {% set currentPath = path(app.request.attributes.get('_route')) %}
                 {% if (currentPath starts with '/admin') or (currentPath starts with '/app_dev.php/admin') %}
                     {{ include('admin_menu.html.twig') }}
                 {% endif %}#}
            {% endblock %}
            <div id="main_content">
                <section class="panel row">
                    <header class="panel-heading col-md-12">
                        <h2>{% block panel_head %}{% endblock %}</h2>
                    </header>
                    {% block menu_content %}
                    {% endblock %}
                    <div class="panel-body col-md-8">
                        {% block body %}
                        {% endblock %}
                    </div>
                    <div class="panel-body col-md-4">
                        {% block aside %}
                        {% endblock %}
                        <hr>
                        {{ include('layout.aside.html.twig') }} 
                        {{ dump() }}
                    </div>
                </section>
            </div>
            <div id="footer" class="row">
                {{ include('layout.footer.html.twig') }}  
            </div>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            {% block javascripts %}
{#                {{ include('chosen_init.html.twig') }}#}
            {% endblock %}
        </div>
    </body>
</html>

