<!DOCTYPE html>
<html>
    {{ include('layout.head.html.twig') }}
    <body>
        <div id="main" class="container">
            {{ include('layout.header.html.twig') }}
            {% block menu_haut %}
                {# {% set currentPath = path(app.request.attributes.get('_route')) %}
                 {% if (currentPath starts with '/admin') or (currentPath starts with '/app_dev.php/admin') %}
                     {{ include('admin_menu.html.twig') }}
                 {% endif %}#}
            {% endblock %}
            <div id="main_content">
                <section class="panel">
                    <header class="panel-heading">
                        <h2>{% block panel_head %}{% endblock %}</h2>
                    </header>
                    {% block menu_content %}
                    {% endblock %}
                    <div class="panel-body">
                        {{ dump() }}<hr>
                        {% block body %}
                        {% endblock %}
                    </div>
                </section>
            </div>
            {{ include('layout.footer.html.twig') }}  
        </div>
    </body>
</html>

