<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('_welcome') }}">PanierFoyen</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">L'association <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Le concept</a></li>
                        <li><a href="#">Engagements</a></li>
                        <li><a href="#">Adhérer</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Qui somme nous ?</a></li>
                        <li><a href="#">Le bureau</a></li>
                        <li><a href="{{ path('coordinateurs') }}">Les coordinateurs</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Les distributions</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Nous contacter</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Les publications <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('articles') }}">Tous</a></li>
                            {{ render(controller('PanierfoyenBundle:front\\Tags:getAllTagsForNav' )) }}
                    </ul>
                </li>
                <li><a href="{{ path('producteurs') }}">Les producteurs</a></li>
                <li><a href="#">Les produits</a></li>
                <li><a href="#">Calendrier</a></li>
                <li><a href="#">Cartographie</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="{{ path('admin_dashboard') }}">Administration</a></li>
                    {% endif %}
                <li class="dropdown">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <!-- Logged -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {{app.user.username}} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_profile_edit') }}">Editer profil</a></li>
                            <li><a href="{{ path('fos_user_change_password') }}">Changer mot de passe</a></li>
                            <li><a href="{{ path('fos_user_group_list') }}">Liste des groupes</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                        </ul>
                    {% else %}
                        <!-- Not Logged -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mon compte <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    {% endif %}
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
