{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - tag
{% endblock %}

{% block panel_head %}
    Tags
{% endblock %}

{% block body %}

    <div class="row">
        <div class=" col-md-6">Id</div>
        <div class=" col-md-6">{{ tag.id }}</div>

        <div class=" col-md-6">Title</div>
        <div class=" col-md-6">{{ tag.title }}</div>

        <div class=" col-md-6">Created</div>
        <div class=" col-md-6">{% if tag.created %}{{ tag.created|date('Y-m-d H:i:s') }}{% endif %}</div>

        <div class=" col-md-6">Modified</div>
        <div class=" col-md-6">{% if tag.modified %}{{ tag.modified|date('Y-m-d H:i:s') }}{% endif %}</div>
    </div>
    <hr>
    <div class=" col-md-12">
        <div class="form-group">
            <a class="btn btn-default" href="{{ path('tags') }}">
                <i class="fa fa-list" aria-hidden="true"></i>
                Back to list
            </a>
            <a class="btn btn-success" href="{{ path('tags_edit', { 'id':  tag.id }) }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                Edit
            </a>
            <a class="btn btn-primary" href="{{ path('tags_new') }}">
                <i class="fa fa-plus" aria-hidden="true"></i>
                New
            </a>
            <form action="{{ path('tags_delete', { 'id': tag.id }) }}" method="post" style="display: inline-block">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(delete_form) }}
                <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
                    <i class="fa fa-trash-o"></i> 
                    Delete</button>
            </form>
        </div>
        <hr>
    </div>


{% endblock %}

