{% extends "::layout.html.twig" %}
{% block body %}

    <div class="jumbotron">
        <h1>Bienvenue sur le site du Panier Foyen</h1>
        <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive,
            mobile-first projects on the web.</p>
    </div>

    <div id="map" style="height:500px;width:100%"></div>

    <script type="text/javascript">

        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: {{ myMap.center_lat}}, lng: {{ myMap.center_long}}},
                zoom: 9
            });

            var marker = new google.maps.Marker({
                position: {lat: 45.0094939, lng: 0.1641944},
                map: map,
                title: 'Hello World!'
            });

        {% for marker in myMap.markers %}
                var marker = new google.maps.Marker({
                position: {lat: {{ marker.latitude}}, lng:  {{ marker.longitude}}},
                map: map,
                title: '{{ marker.title}}'
            });
        {% endfor %}
            
                }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDf3LjAP3cFKDYnOX3nEAwfDo4Ov-ZallM&callback=initMap">
        {#            src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">#}
    </script>


{% endblock %}