{% extends "::layout.html.twig" %}
{% block body %}

    <div class="jumbotron">
        <h1>Le Panier Foyen</h1>
        <p>Association de producteurs et de consommateurs pour le maintien d’une agriculture de proximité, raisonnable, et paysanne.</p>
    </div>
    
    {{ dump() }}

    <div id="map" style="height:500px;width:100%"></div>

    <script type="text/javascript">

        var map;
        function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
        center: {lat:{{ myMap.center_lat}}, lng: {{ myMap.center_long}}},
                zoom: 9
        });
        {% set indice = 0 %}
            var prev_infowindow = false;
        {% if myMap.markers is defined %}
            {% for marker in myMap.markers %}
                var contentString = '<div id="content">' +
                        '<div id="siteNotice">' +
                        '</div>' +
                        '<h1 id="firstHeading" class="firstHeading">{{ marker.title}}</h1>' +
                        '<div id="bodyContent">' +
                        '<p> ' +
                        '{{ marker.content}} ' +
                        '</p>' +
                        '<p> ' +
                        '{{ marker.content2}} ' +
                        '</p>' +
                        {% if marker.link %}
                        '<p><a href="{{ marker.link}}">' +
                        'Voir la page</a> ' +
                        '</p>' +
                        {% endif %}
                        '</div>' +
                        '</div>';
                var infowindow{{ indice}} = new google.maps.InfoWindow({
                content: contentString
                });
                var marker{{ indice}} = new google.maps.Marker({
                position: {lat:{{ marker.latitude}}, lng:  {{ marker.longitude}}},
                        map: map,
                        title: '{{ marker.title}}'
                });
                marker{{ indice}}.addListener('click', function() {
                if (prev_infowindow) {
                prev_infowindow.close();
                }

                prev_infowindow = infowindow{{ indice}};
                infowindow{{ indice}}.open(map, marker{{ indice}});
                });
                {% set indice = indice + 1 %}
            {% endfor %}
        {% endif %}

            }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDf3LjAP3cFKDYnOX3nEAwfDo4Ov-ZallM&callback=initMap">
        {#            src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">#}
    </script>


{% endblock %}