{% extends 'layout.admin.html.twig' %}

{% block title %}
    {{ parent() }} -  Modifier producteur
{% endblock %}

{% block panel_head %}
    Modifier producteur
{% endblock %}

{% block aside %}
    <div class="form-group">
        <a class="btn btn-default" href="{{ path('admin_producteurs') }}">
            <i class="fa fa-list" aria-hidden="true"></i>
            Retour à la liste
        </a>
    </div>
    <div class="form-group">
        <a class="btn btn-default" href="{{ path('admin_producteur_gallery', { 'id': producteur.id }) }}">
            <i class="fa fa-list" aria-hidden="true"></i>
            Gallerie d'images
        </a>
    </div>
{% endblock %}

{% block body %}

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}

    <div class="row">
        <div class=" col-md-2">Contrat actuel</div>
        <div class=" col-md-10"><a class="btn btn-default" href="{{ producteur.contratFile }}">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                PDF
            </a>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-2">Nouveau contrat</div>
        <div class=" col-md-10">
            {% include 'KCFinder_textbox_selector.html.twig' with {'elementId': 'panierfoyenbundle_producteurs_contratFile'} %}
        </div>
    </div>

    <p>
        <button type="submit" class="btn btn-success">
            <i class="fa fa-floppy-o"></i> Valider
        </button>
    </p>
    {{ form_end(edit_form) }}

{% endblock %}

{% block javascripts %}
    {{ include('chosen_init.html.twig') }}
{% endblock %}