{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - catégorie {{ category.libelle }}
{% endblock %}

{% block panel_head %}
    Catégorie {{ category.libelle }}
{% endblock %}

{% block body %}

    <div class=" col-md-12">Id</div>
    <div class=" col-md-12">{{ category.id }}</div>

    <div class=" col-md-12">Libellé</div>
    <div class=" col-md-12">{{ category.libelle }}</div>

    <div class=" col-md-12">Logo</div>
    <div class=" col-md-12"><img class="banniere_img" src="{{ asset( category.logo) }}" alt="" /></div>

{% endblock %}

