{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - producteur index
{% endblock %}

{% block panel_head %}
    Producteurs list 
{% endblock %}

{% block body %}

    {% for category in categories2 %}
        <div class="row category_entete">
            <div class="col-md-2 list_img vertical_center">
                <img class="img-responsive" src="{{ asset( category.logo) }}" alt="{{ category.libelle}}" />
            </div>
            <div class="col-md-10 list_title vertical_center">
                <h2>{{ category.libelle}}</h2>
            </div>
        </div>
        <hr>

        {% for prod in category.producteur %}
            <div class="row product_list_item">
                <a href="{{ path('producteurs_show_slug', { 'slug': prod.slug }) }}">
                    <div class="col-md-2 list_img2 vertical_center">
                        <img class = "" src="http://media.accueil-paysan.com/photos/anja-miray-2416_None.JPG.100x100_q85_crop.jpg" alt="">
                    </div>
                    <div class="col-md-8 list_text">
                        <div class="row">
                            <h4>{{ prod.nom }}</h4>
                        </div>
                        <div class="row">
                            <p>Situé à {{ prod.ville }} ({{ prod.codepostal}})</p>
                        </div>
                        <div class="row vertical_center">
                            {% for produit in prod.produits %}
                                <span class="label label-primary product_tag">{{ produit.libelle}}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-2 vertical_center">
                        {#                        <img class="navtab_img img-responsive" src="{{ asset( produit.category.logo) }}" alt="{{ produit.category.libelle}}" />#}
                    </div>
                </a>
            </div>
        {% endfor %}

    {% endfor %}

{% endblock %}

{% block aside %}
    {{ include('producteurs/categories_filter.html.twig') }} 
{% endblock %}