<header class="panel-heading">
    <h2>
        {{ producteur.nom }}
        {% for categorie in producteur.category %}
            <img class="navtab_img" src="{{ asset( categorie.logo) }}" alt="{{ categorie.libelle}}" />
        {% endfor %}
    </h2>
</header>

<ul class="nav nav-tabs">
    {% set currentRoute = app.request.attributes.get('_route') %}

    {% set linkRoute = 'producteurs_show_slug' %}
    <li role="presentation" {{ (currentRoute == linkRoute) ? ' class="active"' }}><a href="{{ path(linkRoute, { 'slug': producteur.slug }) }}">Présentation</a></li>

    {% set linkRoute = 'producteurs_show_slug_produits' %}
    <li role="presentation" {{ (currentRoute == linkRoute) ? ' class="active"' }}><a href="{{ path(linkRoute, { 'slug': producteur.slug }) }}">Produits</a></li>

    {% set linkRoute = 'producteurs_show_slug_coordinateur' %}
    <li role="presentation" {{ (currentRoute == linkRoute) ? ' class="active"' }}><a href="{{ path(linkRoute, { 'slug': producteur.slug }) }}">Coordinateur</a></li>

    {% set linkRoute = 'producteurs_show_slug_photos' %}
    <li role="presentation" {{ (currentRoute == linkRoute) ? ' class="active"' }}><a href="{{ path(linkRoute, { 'slug': producteur.slug }) }}">Photos</a></li>

    {#<li class="navbar-right">
        <img class="navtab_img" src="{{ asset('images/icone_actu.png') }}" alt="Actu" />
        <img class="navtab_img" src="{{ asset('images/icone_actu.png') }}" alt="Actu" />
    <li>#}
</ul>