{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - producteur
{% endblock %}

{% block panel_head %}
    {% include 'producteurs/Panel_producteur.html.twig' %}
{% endblock %}

{% block menu_content %}
    {% include 'producteurs/navTab.html.twig' %}
{% endblock %}

{% block body %}

    {% for produit in produits%}
        <div class="fiche_produit">
            <div class="fiche_produit_entete">
                <div class="col-md-8 vertical_center">
                    <h3>{{ produit.libelle }}</h3>
                </div>
                <div class="col-md-4 vertical_center">
                    <img class="navtab_img img-responsive" src="{{ asset( produit.category.logo) }}" alt="{{ produit.category.libelle}}" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <img class="navtab_img img-responsive" src="{{ asset( produit.image) }}" alt="Image" />
                </div>
                <div class="col-md-10">
                    <div class="row">
                        {{ produit.descriptif }}
                    </div>
                    <div class="row">
                        {{ "Frequence :" ~ produit.frequence.libelle ~ " " ~ produit.frequence.details }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    {{ "Conditionnment(s) / Variante(s)" }} 
                </div>
                <div class="col-md-2">
                    Prix
                </div>
            </div>

            {% for variante in produit.les_conditionnements%}
                <div class="row">
                    <div class="col-md-4">
                        {{ variante.libelle }} 
                    </div>
                    <div class="col-md-2">
                        {{ variante.prixUnitaire }} 
                    </div>
                </div>
            {% endfor %}

        </div>
        <br>
    {% endfor %}

    <hr>

{% endblock %}

