{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - producteur
{% endblock %}

{% block panel_head %}
    {% include 'producteurs/Panel_producteur.html.twig' %}
{% endblock %}

{% block menu_content %}
    {% include 'producteurs/navTab.html.twig' %}
{% endblock %}

{% block body %}

    <div class="row">
        <div class=" col-md-6">
            <div class=" col-md-12">{{ producteur.nom }}</div>
            <div class=" col-md-12"><i class="fa fa-address-book"></i>{{ producteur.codepostal }} {{ producteur.ville }}</div>
            <div class=" col-md-12"><i class="fa fa-phone"></i>{{ producteur.tel }}</div>
            <div class=" col-md-12"><i class="fa fa-mobile"></i>{{ producteur.mobile }}</div>
            <div class=" col-md-12"><i class="fa fa-envelope"></i>{{ producteur.email }}</div>
            <div class=" col-md-12"><i class="fa fa-link"></i><a href="http://{{ producteur.siteInternet}}">{{ producteur.siteInternet }}</a></div>
        </div>
        <div class=" col-md-6">
            <div class=" col-md-12 "><p class="coordinateur_title">Coordinateur</p></div>
            {% if producteur.coordinateur %}
                <div class=" col-md-12 ">{{ producteur.coordinateur.nom }}</div>
                <div class=" col-md-12 ">{{ producteur.coordinateur.codepostal }} {{ producteur.coordinateur.ville }}</div>
                <div class=" col-md-12 ">{{ producteur.coordinateur.tel }} </div>
                <div class=" col-md-12 ">{{ producteur.coordinateur.mobile }}</div>
                <div class=" col-md-12 ">{{ producteur.coordinateur.email }}</div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <br>
    </div>

    <div class="row">
        <div class=" col-md-12">
            {{ producteur.presentation  | raw  }}
        </div>
    </div>

    <hr>

{% endblock %}

