{% extends 'layout.admin.html.twig' %}

{% block title %}
    {{ parent() }} - Nouvel article
{% endblock %}

{% block panel_head %}
    Nouvel article
{% endblock %}

{% block aside %}
    <div class="form-group">
        <a class="btn btn-default" href="{{ path('admin_articles') }}">
            <i class="fa fa-list" aria-hidden="true"></i>
            Retour à la liste
        </a>
    </div>
{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-success"> <i class="fa fa-plus-square-o" aria-hidden="true"></i> Valider</button>
    </p>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ include('chosen_init.html.twig') }}
{% endblock %}