{% extends 'layout.admin.html.twig' %}

{% block title %}
    {{ parent() }} - Modifier catégorie
{% endblock %}

{% block panel_head %}
    Modifier catégorie
{% endblock %}

{% block aside %}
    <div class="form-group">
        <a class="btn btn-default" href="{{ path('admin_categories') }}">
            <i class="fa fa-list" aria-hidden="true"></i>
            Retour à la liste
        </a>
    </div>
{% endblock %}

{% block body %}

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}

    <div class=" col-md-6">Image actuelle</div>
    <div class=" col-md-6">Nouvelle Image</div>
    <div class=" col-md-6"><img class="banniere_img" src="{{ asset( category.logo) }}" alt="" /></div>
    <div class=" col-md-6">    {% include 'KCFinder_image_selector.html.twig' with {'elementId': 'panierfoyenbundle_categories_logo'} %}</div>

    <p>
        <button type="submit" class="btn btn-success">
            <i class="fa fa-floppy-o"></i> Valider
        </button>
    </p>
    {{ form_end(edit_form) }}

{% endblock %}

