{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - article index
{% endblock %}

{% block panel_head %}
    Les articles
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-12">

            {% for article in articles %}
                {% if article.publicationDate %}

                    <div class ="article_entete row vertical-align">
                        <div class="article_titre col-md-10">
                            <h3><a href="{{ path('articles_show', { 'slug': article.slug }) }}">{{ article.titre }} </a></td></h3>
                        </div>
                        <div class="article_tag col-md-2 text-center">
                            <span  class="label label-primary">
                                {{ article.tag[0].title }}
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <h4 class="article_header col-sm-12">
                            Article publié le <span>{{ article.publicationDate|localizeddate('medium', 'none', 'fr') }}</span> par  <span>{{ article.user.username }}</span> 
                        </h4>
                    </div>
                    <div class="row">
                        <div class ="col-sm-12">
                            <p class="article_summary">{{ article.summary | raw }}</p>
                            <hr>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>

{% endblock %}

{% block aside %}
    {{ include('articles/tags_filter.html.twig') }} 
{% endblock %}