{% for article in recent_articles %}
    <div class="row">

        <div class="col-md-12">
            <span  class="label label-primary center-block">
                {{ article.tag[0].title }}
            </span>
        </div>
        <div class="col-md-12 article_lien">
            <a href="/article/{{ article.slug }}">
                {{ article.titre }}
            </a>
        </div>
        <div class="col-md-12 article_header">
            Le <span>{{ article.publicationDate|localizeddate('medium', 'none', 'fr') }}</span> par  <span>{{ article.user.username }}</span> 
        </div>
    </div>
    <br>
{% endfor %}