{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - article
{% endblock %}

{% block panel_head %}
    {{ article.titre }}
{% endblock %}

{% block body %}


    <form class="form form-vertical">
        <fieldset>            
            <div class="control-group">
                <label class="col-sm-2 control-label">Publicationdate</label>
                <div class="col-sm-10">
                    <span class="input-xlarge uneditable-input">{% if article.publicationDate %}{{ article.publicationDate|date('Y-m-d H:i:s') }}{% endif %}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="col-sm-2 control-label">Modified</label>
                <div class="col-sm-10">
                    <span class="input-xlarge uneditable-input">{% if article.modified %}{{ article.modified|date('Y-m-d H:i:s') }}{% endif %}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="col-sm-2 control-label">Created</label>
                <div class="col-sm-10">
                    <span class="input-xlarge uneditable-input">{% if article.created %}{{ article.created|date('Y-m-d H:i:s') }}{% endif %}</span>
                </div>
            </div>
        </fieldset>
    </form>
    {{ article.contenue | raw }}

    <hr>

{% endblock %}

