{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - article
{% endblock %}

{% block panel_head %}
    {{ article.titre }}
{% endblock %}

{% block aside %}
    <p class="aside_title">Partager</p>
    <div id="share2"></div>
    <script src="jquery.js"></script>
    <script src="jssocials.min.js"></script>
    <script>
        $("#share2").jsSocials({
            shares: ["email", "twitter", "facebook", "googleplus", "pinterest", "stumbleupon", "whatsapp"]
        });
    </script>
    <hr>
{% endblock %}

{% block body %}

    <div class ="row">
        <div class="col-md-12">
            <div id="share"></div>
            <script src="jquery.js"></script>
            <script src="jssocials.min.js"></script>
            <script>
        $("#share").jsSocials({
            shares: ["email", "twitter", "facebook", "googleplus", "pinterest", "stumbleupon", "whatsapp"]
        });
            </script>
            <hr>
        </div>
    </div>

    <div class ="row vertical-align">
        <div class="article_tag col-md-2 text-center">
            <span  class="label label-primary">
                {{ article.tag[0].title }}
            </span>
        </div>
        <div class="article_titre col-md-10">
            {% if article.publicationDate %}
                <h4 class="article_header">
                    Article publié le <span>{{ article.publicationDate|date('Y-m-d H:i:s') }}</span> par  <span>{{ article.user.username }}</span> 
                </h4>
            {% endif %}
        </div>
    </div>

    <div class ="row">
        <div class="col-md-12">
            <hr>
            {{ article.contenue | raw }}
        </div>
    </div>
    <hr>

{% endblock %}

