{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - article
{% endblock %}

{% block panel_head %}
    {{ article.titre }}
{% endblock %}

{% block body %}
    <div class="col-md-12">
        {% if article.publicationDate %}
            <span  class="label label-primary">
                {{ article.tag[0].title }}
            </span>
            <h3>
                Article publié le {{ article.publicationDate|date('Y-m-d H:i:s') }} par  {{ article.user.username }} 
            </h3>
        {% endif %}
        <hr>
        {{ article.contenue | raw }}
    </div>
    <hr>

{% endblock %}

