{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - article
{% endblock %}

{% block panel_head %}
    {{ article.titre }}
{% endblock %}

{% block aside %}
    <p class="aside_title">Partager</p>
    <div id="share2"></div>
    <script src="jquery.js"></script>
    <script src="jssocials.min.js"></script>
    <script>
        $("#share2").jsSocials({
            shares: ["email", "twitter", "facebook", "googleplus", "pinterest", "stumbleupon", "whatsapp"]
        });
    </script>
    <hr>
{% endblock %}

{% block body %}

    <div class ="row">
        <div class="col-md-12">
            <div id="share"></div>
            <script src="jquery.js"></script>
            <script src="jssocials.min.js"></script>
            <script>
            $("#share").jsSocials({
                shares: ["email", "twitter", "facebook", "googleplus", "pinterest", "stumbleupon", "whatsapp"]
            });
            </script>
            <hr>
        </div>
    </div>

    <div class="col-md-12">
        {% if article.publicationDate %}
            <span  class="label label-primary">
                {{ article.tag[0].title }}
            </span>
            <h3>
                Article publié le {{ article.publicationDate|date('Y-m-d H:i:s') }} par  {{ article.user.username }} 
            </h3>
        {% endif %}
        <hr>
        {{ article.contenue | raw }}
    </div>
    <hr>

{% endblock %}

